#wrapper {
margin: auto;
display: grid;
min-height: 90vh;
width: 90vw;
    
grid-template-columns: ;
grid-template-rows: ;
grid-template-areas: 
"hd hd hd hd"
"nv nv nv nv"
"sc sc sc sc"
"ft ft ft ft";


}

header{
    grid-area: hd;
    background-color: blue;
}

nav{
    grid-area: nv;
    background-color: blueviolet;
}

section{
    grid-area: sc;
    background-color: yellow;
}

footer{
    grid-area: ft;
    background-color: green;
}